<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.redbyte.platform.authoritycenter.core.dao.LoginLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.redbyte.platform.authoritycenter.core.entity.LoginLog">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="ip_address" property="ipAddress" />
        <result column="source" property="source" />
        <result column="login_time" property="loginTime" />
        <result column="terminal" property="terminal" />
        <result column="create_time" property="createTime" />
        <result column="operation_record" property="operationRecord" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, user_name, ip_address, source, login_time, terminal, create_time, operation_record
    </sql>

</mapper>
